BODY {font-size: 11pt;
  background-image : url("blue_p7b.gif");
  background-attachment: fixed;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-color:#FFFFFF;
  font-family:Verdana;color:black;
}
#t{ width: 600px; height: 200px; }

b {
	font-family: "Century Gothic";
	font-size: 18pt;
	font-weight: bold;
	color: #ffaa00;
}