BODY {font-size: 11pt;
  background-image : url("u006bcg.gif");
  background-attachment: fixed;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-color:#FFFFFF;
  font-family:Verdana;color:black;
}
table {background-color: #ffffff;
	width: 600px; height: 200px;

}

b {
	font-family: "Century Gothic";
	font-size: 18pt;
	font-weight: bold;
	color: #ffaa00;
}